body {
  font-family: "Chakra Petch";
}

.terms {
  text-transform: none;
}

.terms span{
  color: rgb(236, 62, 62);
}

.test-Card {
  display: flex;
  width: 100vw;
  height: max-content;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  
}
.test-Card img {
  position: absolute;
  object-fit: contain;
}
.test-Card {
  background-image: url('../img/home-1/cta/cta-bg-1.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;

  /* other styles */
}

.test-left {
  flex: 1;
}

.test-right {
  flex: 1;
  padding: 20px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-container {
  backdrop-filter: blur(5px);
  border-radius: 2px;
  padding: 20px;
  display: grid;
  background-color: rgba(56, 56, 56, 0);
  grid-template-columns: repeat(2, 1fr); /* 3 columns */
  gap: 10px;
  height: max-content;
  width: 500px;
}
.grid-item-1::placeholder {
  color: white;
}
.grid-item-2::placeholder {
  color: white;
}
.grid-item-3::placeholder {
  color: white;
}
.grid-item-4::placeholder {
  color: white;
}
.grid-item-5::placeholder {
  color: white;
}

.grid-item-1 {
  border-radius: 2px;
  background-color: rgba(56, 56, 56, 0.301);
  padding-left: 16px;
  color: white;
  outline: none;
  border: none;
  border-left: 2px solid red;
  width: 100%;
  height: 40px;
  grid-area: 1/1/2/2;
}
.grid-item-2 {
  border-radius: 2px;
  background-color: rgba(56, 56, 56, 0.301);
  padding-left: 16px;
  outline: none;
  border: none;
  color: white;
  border-left: 2px solid red;
  width: 100%;
  height: 40px;
  grid-area: 1/2/2/3;
}
.grid-item-3 {
  border-radius: 2px;
  outline: none;
  border: none;
  background-color: rgba(56, 56, 56, 0.301);
  padding-left: 16px;
  border-left: 2px solid red;
  width: 100%;
  color: white;
  height: 40px;
  grid-area: 2/1/3/2;
}
.grid-item-4 {
  border-radius: 2px;
  outline: none;
  border: none;
  background-color: rgba(56, 56, 56, 0.301);
  padding-left: 16px;
  border-left: 2px solid red;
  width: 100%;
  height: 40px;
  color: white;
  grid-area: 2/2/3/3;
}

.grid-item-5 {
  border-radius: px;
  outline: none;
  border: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(56, 56, 56, 0.301);
  padding: 16px;
  color: white;
  width: 98%;
  height: 80px;
  resize: none;
  grid-area: 3 / 1 / 4 / 4;
}
.grid-item-6{
  grid-area: 4/1/5/3;
}
.grid-item-7{
  grid-area: 5/1/6/3;
  ;
}
.grid-item-8{
  grid-area: 5/2/6/3;
  margin: auto;
}


input[type="number"].no-arrows {
  appearance: textfield;          /* Standard */
  -webkit-appearance: textfield; /* Safari, Chrome */
  -moz-appearance: textfield;    /* Firefox */
}

input[type="number"].no-arrows::-webkit-inner-spin-button,
input[type="number"].no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.recaptcha-wrapper {
  transform: scale(0.60);          /* Adjust scale as needed (e.g. 0.75, 0.9) */
  transform-origin: top left;      /* Ensures it scales from top-left corner */
  margin-top: 20px;
}




